* {
    margin: 0;
    padding: 0;
}
.fl{
    float: left;
}
.fr{
    float:right;
}
body{
    width: 100%;
    text-align:center
}
.add,.reduce,.selectAll{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.add{
    text-align: center;
    margin: 0 auto;
}
table{
    margin: 50px auto 0 auto;
    border-collapse: collapse;
    text-align: center;
    width:937px;
}

th,td{
    border:1px solid #CADEFF;
    padding: 10px;
    text-align: center;
}
td{
    height: 80px;
}
th{
    background-color: #e2f2ff;
    /*border-top:3px solid #f50;*/
    height: 30px;
}
.deleteTd{
    width: 80px;
}
.checkbox {
    width: 60px;
}
img{
    width:80px;
    height:80px;
    float: left;
    vertical-align: middle;
    margin: 0 20px;
    /*float: left;*/
}
.imgAlt{
    line-height: 80px;
    float: left;
}
.num{
    width: 90px;
}
.addRe{
    border: 1px solid #ddd;
    width: 86px;
}
.num input{
    width: 50px;
    height: 15px ;
    text-align: center;
    border: none;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 4px  0;
    z-index: 2;
}
.add ,.reduce {
    border: none;
    /*background: #f0f0f0;*/
    width: 17px;
    height:23px;
    /*text-align: center;*/
    line-height: 23px;
    /*margin-right: -1px;*/
    z-index: 0;
    padding-top: -1px;
}
.reduce{
    opacity: 0.1;
}
 .add:hover, .reduce:hover {
    color: #f50;
    z-index: 3;
    border-color: #f60;
    cursor: pointer;
}
 .sum ,.priceTotal ,#selectedTotal{
     color: red;
     font-weight: bold;
 }
 .sum{
     width: 150px;
 }
#selectedTotal{
    margin: 0 4px;
}
 .delete:hover{
     cursor: pointer;
     color: red;
     text-decoration: underline;
 }

 .foot{
     line-height: 48px;
     width: 935px;
     margin: 10px auto 50px auto;
     color: #666;
     height: 48px;
     border: 1px solid #c8c8c8;
     background-color: #eaeaea;
     position: relative;
 }
.selectAll{
       width: 60px;
       padding-left:10px;
    padding-right:20px;
       line-height: 48px;
}
.count{
    width: 100px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    background: #f50;
    cursor: pointer;
}
.total{
    margin:0 20px;
}