* {
    margin: 0;
    padding: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

body {
    width: 100%;
    text-align: center;
    font-size: 14px;
}

a {
    text-decoration: none;
    -webkit-text-decoration-color: #000;
            text-decoration-color: #000;
    color: #000;
}

.main {
    display: inline-block;
    -webkit-box-shadow: 0 0 30px 0 #cfcfd0;
            box-shadow: 0 0 30px 0 #cfcfd0;
    padding: 35px;
    margin-top: 45px;
    margin-bottom: 45px;
}

.add, .reduce, .selectAll, .count {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}

.add {
    text-align: center;
    margin: 0 auto;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
    width: 937px;
    border-top: 1px solid #c0c0c0;
}

th, td {
    border-bottom: 1px solid #c0c0c0;
    padding: 10px;
    text-align: center;
}

td {
    height: 80px;
}

th {
    background-color: #fff;
    height: 30px;
}

.deleteTd {
    width: 80px;
}

.checkbox {
    width: 60px;
}

.checkAll {
    margin-top: 1px;
}

img {
    width: 80px;
    height: 80px;
    float: left;
    vertical-align: middle;
    margin: 0 20px;
    /*float: left;*/
}

.imgAlt {
    line-height: 80px;
    float: left;
}

.num {
    width: 90px;
}

.addRe {
    border: 1px solid #ddd;
    width: 86px;
}

.num input {
    width: 50px;
    height: 15px;
    text-align: center;
    border: none;
    /*兼容safari*/
    -webkit-appearance: none;
    border-radius: 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 4px 0;
    z-index: 2;
}

.add, .reduce {
    border: none;
    width: 17px;
    height: 23px;
    line-height: 23px;
    z-index: 0;
    padding-top: -1px;
}

.reduce {
    opacity: 0.1;
}

.add:hover, .reduce:hover {
    z-index: 3;
    cursor: pointer;
    font-weight: bold;
}

.sum, .priceTotal, #selectedTotal {
    font-weight: bold;
}

.sum {
    width: 150px;
}

#selectedTotal {
    margin: 0 4px;
}

.delete:hover, .addGood:hover {
    cursor: pointer;
    text-decoration: underline;
}

.foot {
    line-height: 50px;
    width: 937px;
    margin: 0 auto;
    color: #000;
    height: 50px;
    background-color: #f8f8f8;
    position: relative;
    border-bottom: 1px solid #c0c0c0;
}

.selectAll {
    width: 60px;
    padding-left: 10px;
    padding-right: 20px;
    line-height: 50px;
}

#deleteAll {
    margin-right: 20px;
}

.count {
    width: 100px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    background: #000;
    cursor: pointer;
}

.total {
    margin: 0 20px;
}